@model NopExperts.Nop.Plugins.RemarketyWebApi.Models.RemarketyWebAdmin.RemarketyConfigModel

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Remarkety WebAPI plugin";

    Html.SetActiveMenuItemSystemName("RemarketyWebApiConfig");
}

<form asp-controller="RemarketyWebAdmin" asp-action="Configure" method="post" id="remarkety-config-form">
    <input type="hidden" name="test" value="test"/>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @ViewBag.Title
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="remarkety-config-edit">
                <nop-tab asp-name="tab-api-config" asp-title="@T("NopExperts.RemarketyWebApi.Configure.ApiConfig")" asp-default="true">@await Html.PartialAsync("~/Plugins/NopExperts.RemarketyWebApi/Views/RemarketyWebAdmin/_RemarketyConfigApiInfo.cshtml", Model)</nop-tab>
                <nop-tab asp-name="tab-store-address" asp-title="@T("NopExperts.RemarketyWebApi.Configure.StoreAddress")" asp-default="false">@await Html.PartialAsync("~/Plugins/NopExperts.RemarketyWebApi/Views/RemarketyWebAdmin/_RemarketyConfigStoreAddress.cshtml", Model)</nop-tab>
                <nop-tab asp-name="tab-discount-config" asp-title="@T("NopExperts.RemarketyWebApi.Configure.DiscountConfig")" asp-default="false">@await Html.PartialAsync("~/Plugins/NopExperts.RemarketyWebApi/Views/RemarketyWebAdmin/_RemarketyConfigDiscount.cshtml", Model)</nop-tab>
            </nop-tabs>
        </div>
    </div>
</form>